<IfModule mod_rewrite.c>
RewriteEngine on


# Menghilangkan Ekstensi [PHP HTML] #
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond $1 !^(app/api/order\.php)
RewriteRule ^api/order app/api/order.php [L]
RewriteCond $1 !^(app/api/cart\.php)
RewriteRule ^api/cart app/api/cart.php [L]
</IfModule>